<header>
    <nav>
        <a href="/">HomePage</a>
        <ul>
            <li><a href="/users">Users</a></li>
            <li><a href="/users/new">Add User</a></li>
            <li><a href="/products">Products</a></li>
            <li><a href="/products/new">Add Product</a></li>
        </ul>
    </nav>
</header>