
<label>Name</label>
<input type="text" name="name"><%= user.name %> 

<label>Surname</label>
<input type="text" name="surname"><%= user.surname %> 

<label>email</label>
<input type="text" name="email"><%= user.email %> 

<label>Phone Number</label>
<input type="text" name="phoneNumber"><%= user.phoneNumber %> 