
<div class="form-row">
    <div class="form-item">
        <label>Name</label>
        <input type="text" name="name" value="<%= user.name %>"> 
    </div>
</div>

<div class="form-row">
    <div class="form-item">
        <label>Surname</label>
        <input type="text" name="surname" value="<%= user.surname %>"> 
    </div>
</div>

<div class="form-row">
    <div class="form-item">
        <label>email</label>
        <input type="text" name="email" value="<%= user.email %>"> 
    </div>
</div>

<div class="form-row">
    <div class="form-item">
        <label>Phone Number</label>
        <input type="text" name="phoneNumber"  value="<%= user.phoneNumber %>"> 
    </div>
</div>






