
<h2>Edit Product</h2>
<form action="/products/<%= product.id %>?_method=PUT" method="POST">
    <%- include('_form_fields')  %> 
    <a href="/products">Cancel</a>
    <button type="submit">Update</button>
</form>