
<h2>Search Product</h2>
<form action="/products" method="GET">
    <div>
        <label>Title</label>
        <input type="text" name="title" value="<%= searchOptions.title  %>">
    </div>
    <div>
        <label>Created After</label>
        <input type="date" name="publishedAfter" value="<%= searchOptions.publishedAfter %>">
    </div>
    <div>
        <label>Created Before</label>
        <input type="date" name="publishedBefore" value="<%= searchOptions.publishedBefore %>">
    </div>
    <button type="submit">Search</button>
</form>
<div>
    <% products.forEach(product => { %>
            <img height="150" width="100" src="<%= product.imagePath %>" >
    <% }) %> 
</div>